MODEL:
  class_path: 'src.model.inference_wrapper.InferenceWrapper'
  KWARGS:
    config:
      SIGNAL_EXTRACTOR:
        class_path: 'src.model.signal_extractor.SignalExtractor'
        KWARGS: {}

      PERSPECTIVE_DETECTOR:
        class_path: 'src.model.perspective_detector.PerspectiveDetector'
        KWARGS:
          num_thetas: 200

      DEWARPER:
        class_path: 'src.model.dewarper.Dewarper'
        KWARGS:
          abs_peak_threshold: 0.1

      SEGMENTATION_MODEL:
        class_path: 'src.model.unet.UNet'
        weight_path: '/weights/Electrocardiogram-Digitization/unet_weights_26062025.pt'
        KWARGS:
          num_in_channels: 3
          num_out_channels: 4
          dims: [32, 64, 128, 256, 320, 320, 320, 320]
          depth: 2

      CROPPER:
        class_path: 'src.model.cropper.Cropper'
        KWARGS:
          granularity: 80
          percentiles: [0.02, 0.98]

      PIXEL_SIZE_FINDER:
        class_path: 'src.model.pixel_size_finder.PixelSizeFinder'
        KWARGS: {}

      LAYOUT_IDENTIFIER:
        class_path: 'src.model.lead_identifier.LeadIdentifier'
        config_path: 'src/config/lead_layouts_reduced.yml'
        unet_config_path: 'src/config/lead_name_unet.yml'
        unet_weight_path: '/weights/Electrocardiogram-Digitization/lead_name_unet_weights_26062025.pt'
        KWARGS:
          device: 'cuda'
          debug: false

    device: 'cuda:0'
    resample_size: 2500
    rotate_on_resample: true
    enable_timing: true

DATA:
  images_path: '/dataset/pmcardio_ecg_image_dataset/visual_data/'
  image_extensions: ['.png', '.jpg', '.jpeg', '.JPG']
  output_path: 'sandbox/inference_output'
